[submodule "dev-bot"]
	path = dev-bot
	url = https://github.com/RedHatInsights/platform-frontend-ai-dev.git
[submodule "processing-tools"]
	path = processing-tools
	url = https://github.com/RedHatInsights/processing-tools.git
